* {
    margin: 0;
    padding: 0;
}
#navbar {
    height: 60px;
    background-color: black;
}
#logo {
    font-size: 25px;
    color: #f08804;
}
a {
    margin-right: 200px;
    text-decoration: none;
    color: white;
}
button {
    background-color: #f08804;
}
