<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>The Box Model</title>
        <link rel="stylesheet" href="../CSS/normalize.css" />
        <link rel="stylesheet" href="../CSS/boxModel.css" />
    </head>
    <body>
        <!--
        - When the browser renders a html page, it puts all the elements inside an invisible box.
        - The box consists of four parts:
        1. Content: The main content of the element is displayed here.
        2. Padding: It is used to add some space around the content or between content and border.
        3. Border: The border of the element is displayed here.
        4. Margin: It is used to add space in between different elements.
        -->

        <p>Lorem ipsum dolor sit amet.</p>
        <p>Lorem ipsum dolor sit amet.</p>
    </body>
</html>
