<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Floating Elements</title>
        <link rel="stylesheet" href="../CSS/normalize.css" />
        <link rel="stylesheet" href="../CSS/floatingElements.css" />
    </head>
    <body>
        <article class="tweet clearfix">
            <img
                class="avatar"
                src="/HTML/Mosh/Images/image.jpg"
                alt="An image of a girl"
            />
            <p>Lorem ipsum dolor sit amet.</p>
            <p class="clear">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, eveniet, facere assumenda nam a explicabo dolorum dicta reiciendis aut sequi doloremque optio ratione ea veritatis tenetur provident. Magni beatae asperiores et repellendus, porro error accusamus suscipit laboriosam perspiciatis modi aspernatur quaerat nisi nostrum natus laudantium voluptatum! Doloremque facere odit tempora!</p>
            <!-- <div class="clear"></div> -->
        </article>
    </body>
</html>
