<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Overflow</title>
        <link rel="stylesheet" href="../CSS/normalize.css" />
        <link rel="stylesheet" href="../CSS/overflow.css" />
    </head>
    <body>
        <div class="box">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, ipsa ut, itaque laboriosam incidunt minus maiores totam sunt accusantium nulla, nisi eligendi maxime nostrum. Est reprehenderit adipisci tempora incidunt nemo?</p>
        </div>
    </body>
</html>
