<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Measurement Units</title>
        <link rel="stylesheet" href="../CSS/normalize.css" />
        <link rel="stylesheet" href="../CSS/units.css" />
    </head>
    <body>
        <!--
        There are two types of units:

        1. Absolute: They are fixed units i.e. their value does not change.
        e.g. - px, in(inch), pt(point), cm, mm

        2. Relative: Their value is not fixed because they are set with respect to some other dimension.
        e.g. - %: relative to the size of parent element.
            - vh and vw: relative to the size of viewport.
            - em and rem: relative to font size
        -->
        <div class="first"></div>
        <br />
        <div class="second"></div>
        <br />
        <div class="third"></div>
        <br />
        <div class="fourth">
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Sapiente iure amet.
            </p>
        </div>
    </body>
</html>
