/* All the styling part should be done in this file only. Inline styling should not be mixed with this*/

/* Universal selector */
* {
    color: brown;
}

/* Element selector */
h1 {
    color: purple;
}

button {
    color: rgb(0, 0, 255);
    background-color: #f78fc5;
}

body {
    background-color: aquamarine;
}
/* Selector which is return below has higher priority*/

/* Id selector should be used for a particular element only*/
#hi {
    color: red;
}

#hello {
    color: rgb(22, 86, 3);
}

#namaste {
    color: blue;
}

/* Class selector*/
.class1 {
    color: rgb(108, 6, 26);
}
